**/.DS_Store
*.hdf5
*.wav
*.py
**/__pycache__
**/*.pyc
**/#*
**/.#*
**/*~

log
data
README.html

!refill_syringe.py
!water_calibration.py
!empty_syringe.py
!setup.py
!classical_opto.py
!classical_opto_baseline.py